<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSHandlers</key>
	<array>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>msauth.com.readdle.smartmail.desktop</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>yahoo.com.readdle.smartmail.desktop</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>stripe.com.readdle.spark</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>com.readdle.spark.utm.email.desktop</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>oauth.redirect.com.readdle.smartmail</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>readdle-spark</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>readdlespark</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.shell-script</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.cron.electron</string>
			<key>LSHandlerURLScheme</key>
			<string>cron</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.yaml</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.docker.docker</string>
			<key>LSHandlerURLScheme</key>
			<string>docker-desktop</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.plain-text</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.comma-separated-values-text</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.whispersystems.signal-desktop</string>
			<key>LSHandlerURLScheme</key>
			<string>sgnl</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.whispersystems.signal-desktop</string>
			<key>LSHandlerURLScheme</key>
			<string>signalcaptcha</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>us.zoom.xos</string>
			<key>LSHandlerURLScheme</key>
			<string>zoomphonecall</string>
		</dict>
		<dict>
			<key>LSHandlerContentTag</key>
			<string>fish</string>
			<key>LSHandlerContentTagClass</key>
			<string>public.filename-extension</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>us.zoom.xos</string>
			<key>LSHandlerURLScheme</key>
			<string>zoomphonesms</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.twistapp.mac-sparkle.twist</string>
			<key>LSHandlerURLScheme</key>
			<string>com.twist</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>us.zoom.xos</string>
			<key>LSHandlerURLScheme</key>
			<string>zoomcontactcentercall</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>spark-mail-url</string>
		</dict>
		<dict>
			<key>LSHandlerContentTag</key>
			<string>tableplusconnection</string>
			<key>LSHandlerContentTagClass</key>
			<string>public.filename-extension</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.tinyapp.tableplus</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.googlecode.iterm2</string>
			<key>LSHandlerURLScheme</key>
			<string>iterm2</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.usebruno.app</string>
			<key>LSHandlerURLScheme</key>
			<string>bruno</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.clickup.desktop-app</string>
			<key>LSHandlerURLScheme</key>
			<string>clickup</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.json</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.apple.default-app.mail-client</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.unix-executable</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>mailto</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.apple.default-app.web-browser</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.mozilla.firefox</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.fournova.tower3.theme</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.fournova.tower3</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.mozilla.firefox</string>
			<key>LSHandlerURLScheme</key>
			<string>https</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.fournova.tower3</string>
			<key>LSHandlerURLScheme</key>
			<string>gittower</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.mozilla.firefox</string>
			<key>LSHandlerURLScheme</key>
			<string>http</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.html</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.mozilla.firefox</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>com.readdle.spark.auth-bridge.desktop-dist</string>
		</dict>
		<dict>
			<key>LSHandlerContentTag</key>
			<string>md</string>
			<key>LSHandlerContentTagClass</key>
			<string>public.filename-extension</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentTag</key>
			<string>svelte</string>
			<key>LSHandlerContentTagClass</key>
			<string>public.filename-extension</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>com.googleusercontent.apps.681834923750-3p9205dgnfbq0s196910u38tmn61ehc2</string>
		</dict>
		<dict>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>hotmail.com.readdle.smartmail.desktop</string>
		</dict>
	</array>
</dict>
</plist>
