<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSHandlers</key>
	<array>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>us.zoom.xos</string>
			<key>LSHandlerURLScheme</key>
			<string>zoomphonesms</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>805899227</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.twistapp.mac-sparkle.twist</string>
			<key>LSHandlerURLScheme</key>
			<string>com.twist</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>us.zoom.xos</string>
			<key>LSHandlerURLScheme</key>
			<string>zoomcontactcentercall</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>spark-mail-url</string>
		</dict>
		<dict>
			<key>LSHandlerContentTag</key>
			<string>tableplusconnection</string>
			<key>LSHandlerContentTagClass</key>
			<string>public.filename-extension</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.tinyapp.tableplus</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155755</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.googlecode.iterm2</string>
			<key>LSHandlerURLScheme</key>
			<string>iterm2</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>811968427</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.usebruno.app</string>
			<key>LSHandlerURLScheme</key>
			<string>bruno</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812025538</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.clickup.desktop-app</string>
			<key>LSHandlerURLScheme</key>
			<string>clickup</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.json</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.apple.default-app.mail-client</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.unix-executable</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>mailto</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.apple.default-app.web-browser</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.mozilla.firefox</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.fournova.tower3.theme</string>
			<key>LSHandlerModificationDate</key>
			<integer>796730752</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.fournova.tower3</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.mozilla.firefox</string>
			<key>LSHandlerURLScheme</key>
			<string>https</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812213345</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.fournova.tower3</string>
			<key>LSHandlerURLScheme</key>
			<string>gittower</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.mozilla.firefox</string>
			<key>LSHandlerURLScheme</key>
			<string>http</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.html</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.mozilla.firefox</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>com.readdle.spark.auth-bridge.desktop-dist</string>
		</dict>
		<dict>
			<key>LSHandlerContentTag</key>
			<string>md</string>
			<key>LSHandlerContentTagClass</key>
			<string>public.filename-extension</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentTag</key>
			<string>svelte</string>
			<key>LSHandlerContentTagClass</key>
			<string>public.filename-extension</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.ndjson</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.logi.ghub.ui</string>
			<key>LSHandlerURLScheme</key>
			<string>lghubapp</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>net.daringfireball.markdown</string>
			<key>LSHandlerModificationDate</key>
			<integer>789498832</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.svg-image</string>
			<key>LSHandlerModificationDate</key>
			<integer>794324140</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.apple.ical.backup-package</string>
			<key>LSHandlerModificationDate</key>
			<integer>786024357</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.ical</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>com.googleusercontent.apps.681834923750-3p9205dgnfbq0s196910u38tmn61ehc2</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>hotmail.com.readdle.smartmail.desktop</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812025538</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.tinyspeck.slackmacgap</string>
			<key>LSHandlerURLScheme</key>
			<string>slack</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.python-script</string>
			<key>LSHandlerModificationDate</key>
			<integer>795000138</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>msauth.com.readdle.smartmail.desktop</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>yahoo.com.readdle.smartmail.desktop</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>stripe.com.readdle.spark</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>com.readdle.spark.utm.email.desktop</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>oauth.redirect.com.readdle.smartmail</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>readdle-spark</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155761</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.openai.codex</string>
			<key>LSHandlerURLScheme</key>
			<string>codex</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812027500</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.electron.wispr-flow</string>
			<key>LSHandlerURLScheme</key>
			<string>wispr-flow</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155763</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.readdle.sparkdesktop</string>
			<key>LSHandlerURLScheme</key>
			<string>readdlespark</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>xcode</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>x-swift-package-repository-authentication</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>x-xcode-documentation</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>apple-reference-documentation</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>xcdevice</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>xcdoc</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>x-xcode-ci-build-report-feedback</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>xcarchive</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>xcode-ci-handler</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>doc</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>xcode-ci</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>803743093</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.apple.dt.xcode</string>
			<key>LSHandlerURLScheme</key>
			<string>x-source-tag</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.shell-script</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>812155764</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.cron.electron</string>
			<key>LSHandlerURLScheme</key>
			<string>cron</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.yaml</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>809266344</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.docker.docker</string>
			<key>LSHandlerURLScheme</key>
			<string>docker-desktop</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.plain-text</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.comma-separated-values-text</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>795438768</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.whispersystems.signal-desktop</string>
			<key>LSHandlerURLScheme</key>
			<string>sgnl</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>795438768</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>org.whispersystems.signal-desktop</string>
			<key>LSHandlerURLScheme</key>
			<string>signalcaptcha</string>
		</dict>
		<dict>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>us.zoom.xos</string>
			<key>LSHandlerURLScheme</key>
			<string>zoomphonecall</string>
		</dict>
		<dict>
			<key>LSHandlerContentTag</key>
			<string>fish</string>
			<key>LSHandlerContentTagClass</key>
			<string>public.filename-extension</string>
			<key>LSHandlerModificationDate</key>
			<integer>0</integer>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
			<key>LSHandlerRoleAll</key>
			<string>com.sublimetext.4</string>
		</dict>
	</array>
</dict>
</plist>
