<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apps</key>
	<dict>
		<key></key>
		<dict>
			<key>enableGestureButton</key>
			<false/>
			<key>gestures</key>
			<array>
				<dict>
					<key>gesture</key>
					<string>l</string>
					<key>gestureDescription</key>
					<string>Go: Back</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>1114235</integer>
						<key>stringValue</key>
						<string></string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>gesture</key>
					<string>r</string>
					<key>gestureDescription</key>
					<string>Go: Forward</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>1114236</integer>
						<key>stringValue</key>
						<string></string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>gesture</key>
					<string>urdl</string>
					<key>gestureDescription</key>
					<string>Open: Firefox</string>
					<key>gestureParam</key>
					<string>/Applications/Firefox.app</string>
					<key>gestureType</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>gesture</key>
					<string>d</string>
					<key>gestureDescription</key>
					<string>Scroll Down</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>119</integer>
						<key>stringValue</key>
						<string></string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>gesture</key>
					<string>u</string>
					<key>gestureDescription</key>
					<string>Scroll Up</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>115</integer>
						<key>stringValue</key>
						<string></string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>gesturesEnabled</key>
			<true/>
			<key>globalsEnabled</key>
			<true/>
		</dict>
		<key> </key>
		<dict>
			<key>enableGestureButton</key>
			<false/>
			<key>gestures</key>
			<array/>
			<key>gesturesEnabled</key>
			<true/>
			<key>globalsEnabled</key>
			<true/>
		</dict>
		<key>Code</key>
		<dict>
			<key>bundleIdentifier</key>
			<string>com.microsoft.VSCode</string>
			<key>enableGestureButton</key>
			<false/>
			<key>gestures</key>
			<array>
				<dict>
					<key>gesture</key>
					<string>r</string>
					<key>gestureDescription</key>
					<string>Lines: Indent</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>1245308</integer>
						<key>stringValue</key>
						<string></string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>gesture</key>
					<string>l</string>
					<key>gestureDescription</key>
					<string>Lines: Outdent</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>1245307</integer>
						<key>stringValue</key>
						<string></string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>gesturesEnabled</key>
			<true/>
			<key>globalsEnabled</key>
			<true/>
		</dict>
		<key>Finder</key>
		<dict>
			<key>enableGestureButton</key>
			<false/>
			<key>gestures</key>
			<array/>
			<key>gesturesEnabled</key>
			<true/>
			<key>globalsEnabled</key>
			<true/>
		</dict>
		<key>Firefox</key>
		<dict>
			<key>bundleIdentifier</key>
			<string>org.mozilla.firefox</string>
			<key>enableGestureButton</key>
			<false/>
			<key>gestures</key>
			<array>
				<dict>
					<key>gesture</key>
					<string>urdl</string>
					<key>gestureDescription</key>
					<string>Open Private Browsing</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>589859</integer>
						<key>stringValue</key>
						<string>P</string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>gesture</key>
					<string>ud</string>
					<key>gestureDescription</key>
					<string>Page: Reload</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>65551</integer>
						<key>stringValue</key>
						<string>r</string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>gesturesEnabled</key>
			<true/>
			<key>globalsEnabled</key>
			<true/>
		</dict>
		<key>Sublime Text</key>
		<dict>
			<key>bundleIdentifier</key>
			<string>com.sublimetext.3</string>
			<key>enableGestureButton</key>
			<false/>
			<key>gestures</key>
			<array>
				<dict>
					<key>gesture</key>
					<string>l</string>
					<key>gestureDescription</key>
					<string>Lines: Indent In</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>65569</integer>
						<key>stringValue</key>
						<string>[</string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>gesture</key>
					<string>r</string>
					<key>gestureDescription</key>
					<string>Lines: Indent Out</string>
					<key>gestureParam</key>
					<dict>
						<key>numberValue</key>
						<integer>65566</integer>
						<key>stringValue</key>
						<string>]</string>
					</dict>
					<key>gestureType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>gesturesEnabled</key>
			<true/>
			<key>globalsEnabled</key>
			<true/>
		</dict>
	</dict>
	<key>buggedUserAboutAccessibility</key>
	<true/>
	<key>cursorChangeEnabled</key>
	<false/>
	<key>enableGlobalsInUnlisted</key>
	<true/>
	<key>enableRockerGestures</key>
	<false/>
	<key>focusWindowBeforeKeystroke</key>
	<false/>
	<key>gestureButton</key>
	<integer>2</integer>
	<key>gestureKeyModifiers</key>
	<integer>65536</integer>
	<key>gestureKeycode</key>
	<integer>-1</integer>
	<key>gestureModifiers</key>
	<integer>0</integer>
	<key>gestureTimeoutEnabled</key>
	<false/>
	<key>gestureTimeoutMilliseconds</key>
	<integer>1000</integer>
	<key>gesturesEnabled</key>
	<true/>
	<key>keyToggle</key>
	<false/>
	<key>minimumDistanceEnabled</key>
	<false/>
	<key>minimumGestureDistance</key>
	<integer>4</integer>
	<key>normalClickTimeoutEnabled</key>
	<false/>
	<key>normalClickTimeoutMilliseconds</key>
	<integer>1000</integer>
	<key>showGesturePathEnabled</key>
	<true/>
	<key>showRecognizedGestureEnabled</key>
	<true/>
	<key>specialEffectsEnabled</key>
	<false/>
	<key>useAnnotatedSession</key>
	<false/>
	<key>usingMouseToGesture</key>
	<true/>
	<key>windowUnderDetermines</key>
	<false/>
</dict>
</plist>
